header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1em 2em;

	background-color: #213547;
	color: #f2f4f9;
}

header h1 {
	margin: 0;
}

.option {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0.5em 0 1em 0;
}

.option:last-child {
	margin: 0;
}

header #settings {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 1em;
}

header #settings svg {
	fill: #f2f4f9 !important;
}