header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0.75em 2em;

	background-color: #213547;
	color: #f2f4f9;
}

header #app-name {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

header #app-name h1 {
	margin: 0;
	/* Fix text not vertically align in box */
	/* Counter negative margin with padding to avoid changing header height */
	margin-top: -4px;
	padding-bottom: 4px;

	margin-right: 0.5em;
}

header #app-name #credit {
	margin: 0;
	font-style: italic;
}

header #app-name #credit,
header #app-name #credit a {
	color: #f2f4f9;
}

header #settings {
	display: flex;
	flex-direction: row;
	align-items: center;

	gap: 1em;
}

header #settings svg {
	fill: #f2f4f9 !important;
}

.option {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 0.5em 0 1em 0;
}

.option:last-child {
	margin: 0;
}

.MuiDrawer-root .MuiDrawer-content {
	width: 325px;
}