:root {
	--border-spacing: 2em;
}

.home {
	flex: 1;
}

.home header {
	width: 100%;
}

.home h2 {
	margin: 0;
}

.home,
.home main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home main {
	flex: 1;
	justify-content: center;

	margin-top: 1em;

	width: 100%;
}

.home #day-top-container {
	z-index: 99;
	position: sticky;
	top: 0;

	display: flex;
	justify-content: center;

	background-color: var(--main-bg-color);
	width: 100%;
}

.home #day-top {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 1em 0;
}

.home #day-top h2 {
	padding: 0.25em 0.5em;
	background-color: var(--main-font-color);
	color: var(--main-bg-color);
	border-radius: 50px;
}

.home #day-top,
.home #day-container {
	width: 80%;
	max-width: 1000px;
}


.home #day-container {
	margin: 2em 0 0 0;
}

.home .close-icon {
	fill: var(--main-font-color) !important;
}


@media screen and (max-width: 745px) {

	.home #day-top,
	.home #day-container {
		width: 100%;
		padding: 1em 2em;
	}

}

@media screen and (max-width: 490px) {
	.home #day-top {
		flex-direction: column-reverse;
		align-items: center;
		gap: 2em;
		width: 100%;
	}
}